[Unit]
Description=A python web server
After=network.target

[Service]
Type=simple
User=psantana
WorkingDirectory=/home/psantana
ExecStart=/usr/bin/python3 -m http.server 9000
Restart=on-abort

[Install]
WantedBy=multi-user.target
